<!DOCTYPE html>
<html>
<head>
  <title>Devisetest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="user_nav">
	<% if user_signed_in? %>
		<p>Signed in as <%= current_user.email %>. <%= link_to "edit account", edit_user_registration_path %> Not you?</p>
		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> or 
			<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %> or now 
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> or now!! 
			<%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %>
	<% end %>

</div>

<%= yield %>

</body>
</html>
